<!DOCTYPE html>
<head>
	<% include ../partials/head.ejs %>
</head>

<header>
	<%- include('../partials/header', {session: session}) %>
</header>

<main>
<div class='container mt-3'>
	<h1>New Senior Center Member</h1>
	<form id='new-member-form' action='/members/create' method='POST'>
		<legend>Personal Information:</legend>
		<div class='form-group'>
			<div class='form-row'>
				<div class='col'>
					<input type="text" class='form-control' placeholder='First Name' name="firstname" required><br>
				</div>
				<div class='col'>
					<input type="text" class='form-control' placeholder='Last Name' name="lastname" required><br>
				</div>
			</div>
			*Birth date:<br>
			<input type="date" class='form-control' name="birthdate" required><br>
		</div>
		<fieldset>
			<legend>Senior Center Information</legend>
			<fieldset>
				<legend>Activity Enrollment</legend>
				<% activities.forEach(function(activity) {%>
					<div class='custom-control custom-checkbox mb3'>
						<input type='checkbox' class='custom-control-input' name='activities' id='<%=activity._id%>' value='<%=activity._id%>'></option>
						<label class='custom-control-label' for='<%=activity._id%>'><%=activity.name%></label>
					</div>
				<% }) %>
			</fieldset>
		</fieldset>
		<br>
		<input type="submit" class="btn btn-primary" value="Submit">
	</form>
</div>
</main>

<footer>
	<% include ../partials/footer.ejs %>
</footer>

</body>

</html>
