<!DOCTYPE html>
<head>
	<% include ../partials/head.ejs %>
</head>

<header>
	<%- include('../partials/header', {session: session}) %>
</header>

<main>
<div class='container mt-3'>
	<h1>New Senior Center Member</h1>
	<form id='new-member-form' action='/members/create' method='POST'>
		<legend>Personal Information:</legend>
		<div class='form-group'>
			<div class='form-row'>
				<div class='col'>
					<input type="text" class='form-control' placeholder='First Name' name="firstname" required><br>
				</div>
				<div class='col'>
					<input type="text" class='form-control' placeholder='Middle Name' name="middlename" required><br>
				</div>
				<div class='col'>
					<input type="text" class='form-control' placeholder='Last Name' name="lastname" required><br>
				</div>
			</div>
			Client ID #:<br>
			<input type="text" class='form-control' name="clientID" required><br>
			*Birth date:<br>
			<input type="date" class='form-control' name="birthdate" required><br>
			Phone number:<br>
			<input type="text" class='form-control' name="phone"><br>
			Mailing Address:
			<div class='form-row'>
				<div class='col'>
					<input type="text" class='form-control' placeholder='Mailing Address' name="mailingaddr" required><br>
				</div>	
				<div class='col'>
					<input type="text" class='form-control' placeholder='City' name="mailingcity" required><br>
				</div>
				<div class='col'>
					<input type="text" class='form-control' placeholder='State' name="mailingstate" required><br>
				</div>
				<div class='col'>
					<input type="text" class='form-control' placeholder='ZIP' name="mailingzip" required><br>
				</div>
			</div>
			Physical Address:
			<div class='form-row'>
				<div class='col'>
					<input type="text" class='form-control' placeholder='Physical Address' name="physaddr" required><br>
				</div>	
				<div class='col'>
					<input type="text" class='form-control' placeholder='City' name="physcity" required><br>
				</div>
				<div class='col'>
					<input type="text" class='form-control' placeholder='State' name="physstate" required><br>
				</div>
				<div class='col'>
					<input type="text" class='form-control' placeholder='ZIP' name="physzip" required><br>
				</div>
			</div>
			<div class='form-row'>
				<div class='col'>
					<div class='custom-control custom-checkbox mb3'>
						<input type='checkbox' class='custom-control-input' name='race' value='White'></option>
						<label class='custom-control-label' for='White'>White</label>
					</div>
					<div class='custom-control custom-checkbox mb3'>
						<input type='checkbox' class='custom-control-input' name='race' value='AmericanIndianAlaskanNative'></option>
						<label class='custom-control-label' for='AmericanIndianAlaskanNative'>American Indian/Alaskan Native</label>
					</div>
					<div class='custom-control custom-checkbox mb3'>
						<input type='checkbox' class='custom-control-input' name='race' value='AsianAmerican'></option>
						<label class='custom-control-label' for='AsianAmerican'>Asian American</label>
					</div>
					<div class='custom-control custom-checkbox mb3'>
						<input type='checkbox' class='custom-control-input' name='race' value='AfricanAmerican'></option>
						<label class='custom-control-label' for='AfricanAmerican'>African American</label>
					</div>
					<div class='custom-control custom-checkbox mb3'>
						<input type='checkbox' class='custom-control-input' name='race' value='NativeHawaiianPacificIslander'></option>
						<label class='custom-control-label' for='NativeHawaiianPacificIslander'>Native Hawaiian/Pacific Islander</label>
					</div>
					<div class='custom-control custom-checkbox mb3'>
						<input type='checkbox' class='custom-control-input' name='race' value='other'></option>
						<label class='custom-control-label' for='other'>Other</label>
					</div>
				</div>
				<div class='col'>	
					<div class='custom-control custom-checkbox mb3'>
						<input type='checkbox' class='custom-control-input' name='ethnicity' value='NonHispanicLatino'></option>
						<label class='custom-control-label' for='NonHispanicLatino'>Non-Hispanic/Latino</label>
					</div>
					<div class='custom-control custom-checkbox mb3'>
						<input type='checkbox' class='custom-control-input' name='ethnicity' value='HispanicLatino'></option>
						<label class='custom-control-label' for='HispanicLatino'>Hispanic/Latino</label>
					</div>
				</div>
				<div class='col'>	
					<div class='custom-control custom-checkbox mb3'>
						<input type='checkbox' class='custom-control-input' name='gender' value='female'></option>
						<label class='custom-control-label' for='female'>Female</label>
					</div>
					<div class='custom-control custom-checkbox mb3'>
						<input type='checkbox' class='custom-control-input' name='gender' value='male'></option>
						<label class='custom-control-label' for='male'>Male</label>
					</div>
				</div>
			</div>
		</div>
		<fieldset>
			<legend>Senior Center Information</legend>
			<fieldset>
				<legend>Activity Enrollment</legend>
				<% activities.forEach(function(activity) {%>
					<div class='custom-control custom-checkbox mb3'>
						<input type='checkbox' class='custom-control-input' name='activities' id='<%=activity._id%>' value='<%=activity._id%>'></option>
						<label class='custom-control-label' for='<%=activity._id%>'><%=activity.name%></label>
					</div>
				<% }) %>
			</fieldset>
		</fieldset>
		<br>
		<input type="submit" class="btn btn-primary" value="Submit">
	</form>
</div>
</main>

<footer>
	<% include ../partials/footer.ejs %>
</footer>

</body>

</html>
